{% extends "::base.html.twig" %}

{% block body %}
    {% block content %}
                <div class="container-fluid">
                    <h3>Index PAGE</h3>
                </div>
            <img src="/build/img/bills.jpg" class="img-circle" alt="Cinque Terre" width="320" height="250">
        <ul class="dropdown">
            Move your cursor here!
            <ul class="dropdown-menu">
                <li>Hello :)</li>
            </ul>
        </ul>
    {% endblock %}
{% endblock %}
