{% extends "::base.html.twig" %}

{% block body %}
    {% block mainmenu %}
                <div class="container-fluid">
                    <h3>Index PAGE</h3>
                </div>
            <img src="/build/img/bills.jpg" class="img-circle" alt="Cinque Terre" width="320" height="250">
    {% endblock %}
{% endblock %}
