# Cache and logs (Symfony2)
/app/cache/*
!app/cache/.gitkeep

/app/logs/*
!app/logs/.gitkeep
app/session/

# Parameters
/app/config/parameters.yml
/app/bootstrap.php.cache
/bin/*
/vendor/
/web/bundles/
docker-compose.yml
