 <div class="row header">
        <div class="col-md-12">
            <img class="header-logo" src="/build/img/header1.jpg">
        </div>
        <div class="col-md-12 navigation">
            <nav class="navibar">
                <ul class="dropdown nav">
                    <li>
                        <a href="{{ path('homepage') }}">Home</a>
                    </li>
                    <li>
                        <a href="#">Settings</a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{{ path('settings:index') }}">Bill types</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Contacts</a>
                    </li>
                </ul>
            </nav>
        </div>
 </div>
