 <div class="row header">
        <div class="col-md-12">
            <a href="{{ path('homepage') }}"><img class="header-logo" src="/build/img/header1.jpg"></a>
        </div>
        <div class="col-md-12 navigation">
            <nav class="nav">
                <ul class="dropdown">
                    <li>
                        <a href="{{ path('homepage') }}">Home</a>
                    </li>
                    <li>
                        <ul class="dropdown-menu">
                            <button class="dropbtn">Left</button>
                            <ul class="dropdown-content">
                            <li>
                                <a href="{{ path('settings:index') }}">Bill types</a>
                            </li>
                            </ul>
                        </ul>
                    </li>
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Contacts</a>
                    </li>
                </ul>
            </nav>
        </div>
 </div>