{% extends "::base.html.twig" %}

{% block body %}
    {% block content %}
        <h5><b>Please select bill type</b></h5>
        <ul>
            <li><a href="#">Bill #1</a></li>
            <li><a href="#">Bill #2</a></li>
            <li><a href="#">Bill #3</a></li>
        </ul>
    {% endblock %}
{% endblock %}
